<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/lib/bulma/bulma.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="">
<header>
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-3">Julien Luccioni</h1>
            <h2 class="subtitle is-4">Développeur d'application</h2>
        </div>
    </section>
</header>
<div class="container has-text-centered">
    <div class="columns is-mobile">
        <div class="column is-one-third has-text-right">
            <a id="home" name="menu" class="button is-primary" onClick="getPartial('/Index?handler=HomePartial')">Accueil</a>
        </div>
        <div class="column is-one-third">
            <a id="project" name="menu" class="button is-primary is-outlined" onClick="getPartial('/Index?handler=ProjectsPartial')">Projets</a>
        </div>
        <div class="column is-one-third has-text-left">
            <a id="contact" name="menu" class="button is-primary is-outlined" onClick="getPartial('/Index?handler=ContactPartial')">Contact</a>
        </div>
    </div>
</div>
<br/>
    @RenderBody()
<footer></footer>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>