@model Portfolio.Models.Mailer

<div class="container" style="width:450px; height: 100%;">
    <Label class="has-text-primary">@Model?.Status</label>
    <form id="mailler" method="post" onsubmit="return false">
        <span class="has-text-danger is-danger bounceIn" asp-validation-for="From"></span>
        <input 
                class="input is-with-margin-top bounceIn"
               placeholder="Votre Email"
               type="text"
               asp-for="From">
        <span class="has-text-danger is-danger bounceIn" asp-validation-for="Message"></span>
        <TextArea 
        class="textarea is-with-margin-top bounceIn"
                   type="text"
                   placeholder="Message"
                   asp-for="Message">
        </TextArea>
        <button
            onclick="postMail()"
            class="button is-primary is-with-margin-top bounceIn">
            Valider
            </button>
    </form>
</div>
