<div class="container">
  <div class="card my-card bounceIn">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h3></h3>
            Bonjour je m’appelle Julien, je suis un développeur intéressé par
            l’univers .net et le monde changeant des frameworks js.
            <a href="img/cvJulienLuccioni.pdf">CV</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="card my-card bounceIn">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="img/work.svg" alt="Placeholder image" />
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Expériences professionnelles</p>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth">2017 - 2019</div>
                    <div class="column">
                      <p><b>Spie Batignolles Amitec</b><i> Neuilly-sur-Seine</i></p>
                      <p class="has-text-justified">
                        <p>Développeur .net</p>
                        <ul>
                            <li>Maintien et évolution d’une suite applicative à destination de la gestion des abonnements parking/piscine. </li>
                            <li>Développement d’une application de gestion des dossiers de contentieux.</li>
                            <li>Développement d’une application de gestion des événements à l'intention des filiales de Spie Batignolles.</li>
                        </ul>
                      </p>
                    </div>
                </div>
        </div>
    </div>
<br />

  <div class="card my-card bounceIn">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="img/university.png" alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Formations</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-fifth">2017 - 2019</div>
        <div class="column">
          <p><b>Groupe Efrei</b><i> Villejuif</i></p>
          <p class="has-text-justified">Concepteur développeur d’application</p>
          [Alternance] Titre rncp niveau 2 (bac + 4)
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-fifth">2014 - 2016</div>
        <div class="column">
          <p><b>Lycée Gustave Flaubert</b><i> Rouen</i></p>
          <p class="has-text-justified">
            BTS Services informatiques aux organisations option B 
            <p>Solutions
            logicielles et applications métiers</p>
          </p>
        </div>
      </div>
      <div class="columns">
            <div class="column is-one-fifth">2014 - 2016</div>
            <div class="column">
              <p><b>Lycée André-Maurois</b><i> Elbeuf</i></p>
              <p class="has-text-justified">
                    BTS Comptabilité et gestion des organisations
              </p>
            </div>
          </div>
    </div>
  </div>
</div>
<br />
<br />