@model Portfolio.ViewModels.ProjectsViewModel

<div class="container">
<!-- <div class="card" style="margin: auto;width:172px">
    <div class="select" >
        <select>
            <option>Select dropdown</option>
            <option>With options</option>
        </select>
    </div>
</div>
<br/> -->
    <div>
        <partial name="_TagsListButtonPartial" model=Model.Tags/>
    </div>
    <br/>
    <div id="myProjects">
        <partial name="_ProjectsPartPartial" model=Model.Projects/>
    </div>
</div>